{% extends('base.html.twig') %}

{% block body %}

    {% include 'account/partials/breadcrumb.html.twig' %}

    <div class="shop-checkout py-120">
        <div class="container">
            <div class="row">
                {% include 'account/partials/menu_left.html.twig' %}

                <div class="col-lg-8">
                    <div class="checkout-widget">
                        <h4 class="checkout-widget-title text-center mt-2 mb-4">Modifier votre mot de passe</h4>
                        {{ form_start(form, {attr: {'class': 'form-group'}}) }}
                            {{ form_row(form.current_password, {attr: {'class': 'form-control mb-2'}}) }}
                            {{ form_row(form.new_password.first, {attr: {'class': 'form-control mb-2'}}) }}
                            {{ form_row(form.new_password.second, {attr: {'class': 'form-control mb-2'}}) }}
                            <div class="text-end">
                                <button type="submit" class="theme-btn mt-2" formnovalidate>
                                    <i class="far fa-save"></i> Enregistrer les modifications
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}