{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero-section">
        <div class="hero-slider owl-carousel owl-theme">

            <div class="hero-single" style="background-image: url({{ asset('template/img/banner/banner1.jpg') }})">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Energie Renouvelable</h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                                    Optez pour <span>l'Energie Solaire</span>
                                </h1>
                                
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <a href="{{ path('app_contact') }}" class="theme-btn">Contactez-nous<i class="fas fa-arrow-circle-right"></i></a>
                                    <a href="{{ path('app_about') }}" class="theme-btn theme-btn2">A propos<i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-single" style="background-image: url({{ asset('template/img/banner/banner2.png') }})">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Energie Renouvelable</h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                                    Optez pour <span>l'Energie Solaire</span>
                                </h1>
                                
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <a href="{{ path('app_contact') }}" class="theme-btn">Contactez-nous<i class="fas fa-arrow-circle-right"></i></a>
                                    <a href="{{ path('app_about') }}" class="theme-btn theme-btn2">A propos<i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-single" style="background-image: url({{ asset('template/img/banner/banner3.png') }})">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Energie Renouvelable</h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                                    Optez pour <span>l'Energie Solaire</span>
                                </h1>
                                
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <a href="{{ path('app_contact') }}" class="theme-btn">Contactez-nous<i class="fas fa-arrow-circle-right"></i></a>
                                    <a href="{{ path('app_about') }}" class="theme-btn theme-btn2">A propos<i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-single" style="background-image: url({{ asset('template/img/banner/banner4.png') }})">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">Energie Renouvelable</h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                                    Optez pour <span>l'Energie Solaire</span>
                                </h1>
                                
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <a href="{{ path('app_contact') }}" class="theme-btn">Contactez-nous<i class="fas fa-arrow-circle-right"></i></a>
                                    <a href="{{ path('app_about') }}" class="theme-btn theme-btn2">A propos<i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="feature-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-helmet"></i>
                        </div>
                        <div class="feature-content">
                            <h4>Trained Workers</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="feature-item active">
                        <div class="feature-icon">
                            <i class="flaticon-gear"></i>
                        </div>
                        <div class="feature-content">
                            <h4>Quality Material</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-clock"></i>
                        </div>
                        <div class="feature-content">
                            <h4>Awesome Support</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-area2 bg py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Services</span>
                        <h2 class="site-title">What We <span>Offer</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('template/img/service/01.jpg') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-solar-panel"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Renewable Energy</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('template/img/service/02.jpg') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-solar-panel-1"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Easy Installation</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('template/img/service/03.jpg') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-solar-panel-2"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Solar Panels</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="choose-content">
                        <div class="site-heading mb-0">
                            <span class="site-title-tagline text-white">Why Choose Us</span>
                            <h2 class="site-title text-white mb-10">Energize Society <span>With Reliable</span> Energy</h2>
                            <p class="text-white">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout.
                            </p>
                        </div>
                        <div class="choose-content-wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="choose-item">
                                        <div class="choose-item-icon">
                                            <i class="flaticon-plug"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>Save Your Money</h3>
                                            <p>There are many variations of passages of Lorem Ipsum available but the
                                                majority have suffered.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="choose-item">
                                        <div class="choose-item-icon">
                                            <i class="flaticon-chat-1"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>Consult & Planning</h3>
                                            <p>There are many variations of passages of Lorem Ipsum available but the
                                                majority have suffered.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="choose-item">
                                        <div class="choose-item-icon">
                                            <i class="flaticon-clock"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>Individual Support</h3>
                                            <p>There are many variations of passages of Lorem Ipsum available but the
                                                majority have suffered.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="choose-item">
                                        <div class="choose-item-icon">
                                            <i class="flaticon-available"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>Certified Engineers</h3>
                                            <p>There are many variations of passages of Lorem Ipsum available but the
                                                majority have suffered.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-img">
                        <div class="video-wrapper">
                            <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-area pt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Notre Blog</span>
                        <h2 class="site-title">Nos derniers<span> Articles</span></h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in latest %}
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            <img src="{{ asset('uploads/post_images/'~post.postImage) }}" alt="Thumb">
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><i class="far fa-user"></i> Créé par : {{ post.user.firstName }}</li>
                                    <li><i class="far fa-calendar-alt"></i> {{ post.createdAt|ago(locale='fr') }}</li>
                                </ul>
                            </div>
                            <h4 class="blog-title">
                                <a href="{{ path('app_post_show', {slug: post.slug}) }}">{{ post.title }}</a>
                            </h4>
                            <p>
                                {{ post.excerpt }} ...
                            </p>
                            <a class="blog-btn" href="{{ path('app_post_show', {slug: post.slug}) }}">Lire Plus<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="cta-content">
                    <h1>Pour plus d'informations sur notre activité</h1>
                    <p>Veuillez nous contacter en cliquant sur le bouton en bas 👇👇👇.</p>
                    <a href="{{ path('app_contact') }}" class="theme-btn">Contactez-nous maintenant! <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="partner-area pt-70 pb-70">
        <div class="container">
            <div class="partner-wrapper partner-slider owl-carousel owl-theme">
                {% for partner in partners %}
                <img src="{{ asset('uploads/images/products/covers/'~partner.image) }}" alt="thumb">
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}


