{{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.firstName, {attr: {'class': 'form-control mb-2'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.lastName, {attr: {'class': 'form-control mb-2'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.email, {attr: {'class': 'form-control mb-2'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.phone, {attr: {'class': 'form-control mb-2'}}) }}
        </div>
    </div>


    {{ form_row(form.adresse, {attr: {'class': 'form-control mb-2'}}) }}

    <button class="theme-btn" formnovalidate>{{ button_label|default('Enregistrer') }}  <i class="fas fa-save"></i></button>


{{ form_end(form) }}
