<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Panel d'administration | Hi-tech Solutions{% endblock %}</title>

    {% block stylesheets %}
        <link rel="icon" href="{{ asset('admin/images/favicon-32x32.png') }}" type="image/png" />
        <!--plugins-->
        <link href="{{ asset('admin/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/plugins/metismenu/css/metisMenu.min.css') }}" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/css/bootstrap-extended.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/css/icons.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


        <!-- loader-->
        <link href="{{ asset('admin/css/pace.min.css') }}" rel="stylesheet" />

        <!--Theme Styles-->
        <link href="{{ asset('admin/css/dark-theme.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/css/light-theme.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/css/semi-dark.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/css/header-colors.css') }}" rel="stylesheet" />
    {% endblock %}
</head>

<body>


    {% block body %}{% endblock %}



    {% block javascripts %}
        <script src="{{ asset('admin/js/bootstrap.bundle.min.js') }}"></script>
        <!--plugins-->
        <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
        <script src="{{ asset('admin/plugins/simplebar/js/simplebar.min.js') }}"></script>
        <script src="{{ asset('admin/plugins/metismenu/js/metisMenu.min.js') }}"></script>
        <script src="{{ asset('admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
        <script src="{{ asset('admin/js/pace.min.js') }}"></script>
        <!--app-->
        <script src="{{ asset('admin/js/app.js') }}"></script>
        <script src="{{ asset('admin/js/index.js') }}"></script>

    {% endblock %}

</body>
</html>
