<div class="container">
    <div class="partner-wrapper partner-slider owl-carousel owl-theme">
        <img src="{{ asset('assets/images/partners/partner1.jpg') }}" alt="thumb">
        <img src="{{ asset('assets/images/partners/partner2.jpg') }}" alt="thumb">
        <img src="{{ asset('assets/images/partners/partner3.jpg') }}" alt="thumb">
        <img src="{{ asset('assets/images/partners/partner4.jpg') }}" alt="thumb">
        <img src="{{ asset('assets/images/partners/partner5.jpg') }}" alt="thumb">
        <img src="{{ asset('assets/images/partners/partner6.jpg') }}" alt="thumb">
        <img src="{{ asset('assets/images/partners/partner7.jpg') }}" alt="thumb">
        <img src="{{ asset('assets/images/partners/partner8.jpg') }}" alt="thumb">
    </div>
</div>