<div class="service-area2 bg py-120">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Services</span>
                    <h2 class="site-title">Explorer nos <span>offres de services</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="row g-4">
            {% for service in services %}
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ asset('template/img/service/01.jpg') }}" alt="">
                    </div>
                    <div class="service-icon">
                        <i class="flaticon-solar-panel"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="{{ path('app_service_detail', {slug: service.slug}) }}">{{ service.title }}</a>
                        </h3>
                        <p class="service-text">{{ service.excerpt|slice(0, 100) }}...</p>
                        <div class="service-arrow">
                            <a href="{{ path('app_service_detail', {slug: service.slug}) }}" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>    
            {% endfor %}
            {#
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ asset('template/img/service/02.jpg') }}" alt="">
                    </div>
                    <div class="service-icon">
                        <i class="flaticon-solar-panel-1"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Installation & Maintenance</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ asset('template/img/service/03.jpg') }}" alt="">
                    </div>
                    <div class="service-icon">
                        <i class="flaticon-solar-panel-2"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Gestion de projets</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            #}
            <div class="text-center mt-60">
                <a href="{{ path('app_services') }}" class="theme-btn btn-lg">Voir tous nos services <i class="fas fa-eye"></i></a>
            </div>
        </div>
    </div>
</div>