{% set content1 = 'HI-TECH SOLUTIONS SARL, S’engage à vous garantir un retour sur investissement immédiat en offrant des produits et services innovants' %}
{% set content2 = 'HI-TECH SOLUTIONS SARL, vous accompagnent tout au long du cycle de vie de vos projets en analysant et formalisant avec vous, les besoins de votre structure' %}
{% set content3 = 'Les équipements et logiciels fournis et installés ont une garantie à partir de la date de livraison des équipements' %}


<div class="service-area2 bg py-120">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Services</span>
                    <h2 class="site-title">Explorer nos <span>offres de services</span></h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="row g-4">
            
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ asset('template/img/service/02.jpg') }}" alt="">
                    </div>
                    <div class="service-icon">
                        <i class="flaticon-solar-panel-1"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="{{ path('app_services') }}">Fourniture de Produits</a>
                        </h3>
                        <p class="service-text">{{ content1|slice(0, 98) }}...</p>
                        <div class="service-arrow">
                            <a href="{{ path('app_services') }}" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ asset('template/img/service/01.jpg') }}" alt="">
                    </div>
                    <div class="service-icon">
                        <i class="flaticon-solar-panel-2"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="{{ path('app_services') }}">Gestion de projets</a>
                        </h3>
                        <p class="service-text">{{ content2|slice(0, 98) }} ...</p>
                        <div class="service-arrow">
                            <a href="{{ path('app_services') }}" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ asset('template/img/service/03.jpg') }}" alt="">
                    </div>
                    <div class="service-icon">
                        <i class="flaticon-drill"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="{{ path('app_services') }}">Installation et Maintenance</a>
                        </h3>
                        <p class="service-text">{{ content3|slice(0, 100) }} ...</p>
                        <div class="service-arrow">
                            <a href="{{ path('app_services') }}" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
           
            <div class="text-center mt-60">
                <a href="{{ path('app_services') }}" class="theme-btn btn-lg">Voir tous nos services <i class="fas fa-eye"></i></a>
            </div>
        </div>
    </div>
</div>