{% extends 'base.html.twig' %}


{% block body %}

    <div class="site-breadcrumb" style="background: url({{ asset('template/img/breadcrumb/breadcrumb.jpg') }})">
        <div class="container">
            <h2 class="breadcrumb-title">Nos Services</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>

    <div class="service-area2 bg py-120">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('assets/images/services/etude.jpg') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-solar-panel"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="{{ path('app_service_detail') }}">Ingénierie et Etudes de Faisabilité</a>
                            </h3>
                            
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('assets/images/services/conseil.jpg') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-solar-panel"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="{{ path('app_service_detail') }}">Conseil en Stratégie Energétique</a>
                            </h3>
                            
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('assets/images/services/gestion.png') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-solar-panel"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="{{ path('app_service_detail') }}">Gestion de Projets</a>
                            </h3>
                            
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('assets/images/services/produits.jpg') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-solar-panel"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="{{ path('app_service_detail') }}">Fourniture de Produits</a>
                            </h3>
                            
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('assets/images/services/maintenance1.jpg') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-drill"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="{{ path('app_service_detail') }}">Installation et Maintenance</a>
                            </h3>
                            
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ asset('assets/images/services/formation.jpg') }}" alt="">
                        </div>
                        <div class="service-icon">
                            <i class="flaticon-solar-panel"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="{{ path('app_service_detail') }}">Formation</a>
                            </h3>
                            
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
