{% extends 'base.html.twig' %}

{% block body %}

    {% set totalHT = total  %}
    {% set prixTva = totalHT  * 19 / 100  %}
    {% set totalTTC = totalHT + prixTva  %}

    <div class="site-breadcrumb" style="background: url({{ asset('template/img/breadcrumb/breadcrumb.jpg') }})">
        <div class="container">
            <h2 class="breadcrumb-title">Votre commande</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="active">Commande</li>
            </ul>
        </div>
    </div>

    <div class="shop-checkout py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-widget">
                        <h4 class="checkout-widget-title text-center mt-2">Choisir une adresse de livraison</h4>
                        <a href="" class="theme-btn mb-2 mt-4">Ajouter une adresse</a>
                        <div class="checkout-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body">
                                            <h5 class="card-title">Light card title</h5>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                                {#
                                {% for address in addresses %}
                                <div class="col-lg-6">
                                    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body">
                                            <h5 class="card-title">Light card title</h5>
                                            <p class="card-text">{{ address.adresse }}.</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                #}


                            </div>

                        </div>
                    </div>
                    <div class="checkout-widget">
                        <h4 class="checkout-widget-title">Payment Info</h4>
                        <div class="checkout-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Card Holder Name</label>
                                            <input type="text" class="form-control" placeholder="Name On Card">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Card Number</label>
                                            <input type="text" class="form-control" placeholder="Your Card Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Expire Date</label>
                                            <input type="text" class="form-control" placeholder="Expire">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>CCV</label>
                                            <input type="text" class="form-control" placeholder="CVV">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="checkout-widget">
                        <h4 class="checkout-widget-title">Shipping Address</h4>
                        <div class="checkout-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" placeholder="Your First Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" placeholder="Your Last Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" placeholder="Your Phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Address 1</label>
                                            <input type="text" class="form-control" placeholder="Your Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Address 2</label>
                                            <input type="text" class="form-control" placeholder="Your Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Additional Info</label>
                                            <textarea class="form-control" cols="30" rows="5" placeholder="Additional Info"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout cart-summary">
                        <h4 class="mb-30">Votre Panier</h4>
                        <ul>
                            <li><strong>Nombre de produits :</strong> <span>{{ items|length }}</span></li>
                            <li><strong>Total HT:</strong> <span>${{ totalHT }}</span></li>
                            <li><strong>TVA:</strong> <span>+ 19%</span></li>
                            <li><strong>Prix de la TVA:</strong> <span>${{ prixTva }}</span></li>
                            <li class="cart-total"><strong>Total TTC:</strong> <span>${{ totalTTC }}</span></li>
                        </ul>

                        <form action="{{ path('app_order_new') }}" method="post">
                            <div class="text-end mt-40">
                                <button class="theme-btn">Commander Maintenant <i class="fas fa-arrow-circle-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
