{% extends 'base.html.twig' %}

{% block body %}

    <div class="site-breadcrumb" style="background: url({{ asset('template/img/breadcrumb/breadcrumb.jpg') }})">
        <div class="container">
            <h2 class="breadcrumb-title">Details du produit</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="active">Details du produit</li>
            </ul>
        </div>
    </div>

    <div class="shop-item-single py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="item-gallery">
                        <div class="flexslider-thumbnails">
                            <ul class="slides">
                                {% for image in product.images %}
                                    <li data-thumb="{{ asset('uploads/galerie/'~image.filename) }}" rel="adjustX:10, adjustY:">
                                        <img src="{{ asset('uploads/galerie/'~image.filename) }}" alt="{{ image.filename }}">
                                    </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-item-info">
                        <h4 class="single-item-title">{{ product.name }}</h4>
                        <div class="single-item-price">
                            <h4><span>{{ product.price|number_format(0, ',', '.') }} Fcfa</span></h4>
                        </div>
                        <div class="single-item-content">
                            {# <h5>Status: <span>Disponible en stock</span></h5> #}
                            <h5>Catégories:
                                {% for category in product.categories %}
                                    <span class="badge p-2" style="background-color: #f77700;">{{ category.name }}</span>
                                    
                                {% endfor %}
                            </h5>
                        </div>
                        <p class="mb-4">{{ product.description }}</p>
                        <div class="single-item-action">
                            <h5 class="title">Quantity:</h5>
                            <div class="cart-qty">
                                <button class="minus-btn"><i class="fal fa-minus"></i></button>
                                <input class="quantity" type="text" value="#" disabled="">
                                <button class="plus-btn"><i class="fal fa-plus"></i></button>
                            </div>
                            <div class="item-single-btn-area">
                                <a href="{{ path('shop_add_cart', {id: product.id}) }}" class="theme-btn"><span class="far fa-shopping-cart"></span> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="caracteristiques mt-4">
                <div class="row">
                    <div class="col-9 mx-auto">    
                        <h4 class="single-item-title text-center pt-4 pb-4">Spécifications Techniques</h4>
                        {% include 'specifications/solar.html.twig' %}
                        {% include 'specifications/commercial.html.twig' %}
                    </div>
                </div>
            </div>

            <div class="related-item">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="site-heading">
                            <h2 class="site-title">Derniers <span>Produits</span> Ajoutés</h2>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    {% for latestProduct in latestProducts %}
                        <div class="col-md-6 col-lg-3">
                            <div class="shop-item">
                                <div class="shop-item-img">
                                    <img src="{{ asset('uploads/product_images/'~ latestProduct.coverImage) }}" alt="{{ product.name }}">
                                    <div class="shop-item-meta">
                                        <a href="#"><i class="far fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="shop-item-info">
                                    <a href="{{ path('app_shop_detail', {slug: latestProduct.slug}) }}"><h4 class="shop-item-title">{{latestProduct.name}}</h4></a>
                                    <div class="shop-item-price">{{ product.price|number_format(0, ',', '.') }} Fcfa</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}