{% for product in products %} 
    <div class="col-md-6 col-lg-4">
        <div class="shop-item">
            <div class="shop-item-img">
                <img src="{{ asset('uploads/product_images/'~product.coverImage) }}" alt="">
                <div class="shop-item-meta">
                    <a href="{{ path('app_cart_add', {id: product.id}) }}"><i class="far fa-shopping-cart"></i></a>
                </div>
            </div>
            <div class="shop-item-info">
                <h4 class="product-title">
                    <a href="{{ path('app_shop_detail', {slug: product.slug}) }}">{{ product.name }}</a>
                </h4>
                <div class="shop-item-price">{{ product.price|number_format(0, ',', '.') }} Fcfa</div>
            </div>
        </div>
    </div>
{% endfor %}
